# tox build
.tox/
# Python builds
*.egg-info/
*.pyc
__pycache__/
dist/
# Dynamically-generated plugin deps
plugin-requirements.txt
# Report generation
examples/_build/
# Docs generation
docs/_build/
# Env files
.env
