# Editor configs
.vscode/
# tox build
.tox/
# Python builds
*.egg-info/
*.pyc
__pycache__/
dist/
build/
# Dynamically-generated plugin deps
plugin-requirements.txt
# Report generation
/_build/
# Docs generation
docs/_build/
# Dev testing credentials
dev/secrets/
# Env files
.env
# Prevent licenses from being accidentally committed
*.pem
