jinja2
matplotlib
pandas
premailer
python-slugify
pyyaml
stevedore
# [jenkins]
python-jenkins
# [mysql]
mysqlclient
# [prometheus]
requests
# [s3]
boto3
# [scp]
fabric
# [sendgrid]
sendgrid
# [slack]
slackclient