nose
nose-watch
pep8
pylama
# We have to install the base package explicitly
# because tox will attempt to install it only after
# processing this list, and the plugins require
# kpireport on installation.
-e .
-e ./plugins/jenkins
-e ./plugins/mysql
-e ./plugins/prometheus
-e ./plugins/s3
