black
nose
nose-watch
pycodestyle
pylama
# We have to install the base package explicitly
# because tox will attempt to install it only after
# processing this list, and the plugins require
# kpireport on installation.
-e .
# The order of the plugins matters, because some plugins
# extend from others (currently the 'static' plugin is the
# only one used as a base representation)
-e ./plugins/static
-e ./plugins/googleanalytics
-e ./plugins/jenkins
-e ./plugins/mysql
-e ./plugins/plot
-e ./plugins/prometheus
-e ./plugins/s3
-e ./plugins/scp
-e ./plugins/sendgrid
-e ./plugins/slack
-e ./plugins/smtp
-e ./plugins/table
-e ./plugins/twitter
