# General email options
# EMAIL_DOMAIN=
# EMAIL_TO=

# S3 options
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=

# SendGrid email options
# SENDGRID_API_KEY=
# SENDGRID_SANDBOX_ENABLED=1

# Slack plugin options
# SLACK_API_TOKEN=
# SLACK_REMOTE_BASE_URL=

# SCP plugin options
SCP_IDENTITY_FILE=
# SCP_HOST=
# SCP_USER=
# SCP_REMOTE_PATH=
# SCP_SUDO_PASSWORD=

# Google Analytics options
GOOGLE_OAUTH2_KEY_FILE=

# Twitter options
TWITTER_CONSUMER_KEY=
TWITTER_CONSUMER_SECRET=
# When requesting as a user, via OAuth1, add access_token details.
# For information on how to generate an access token, see here:
# https://developer.twitter.com/ja/docs/basics/authentication/guides/access-tokens
TWITTER_ACCESS_TOKEN_KEY=
TWITTER_ACCESS_TOKEN_SECRET=
