requests
# Use reno fork w/ release_tag_prefix support
git+https://github.com/kpireporter/reno@master#egg=reno
sphinx>2.0.0
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-jsonschema
sphinx-rtd-theme
sphinxcontrib-napoleon
